body {background-color: rgb(169, 195, 196);
    background-image: url(img/patter.webp)
    ;

}



header i:hover {
    transform: scale(1.2);
}

header .logo {
    text-decoration: none;
    color: rgb(247, 242, 242);
    font-size: 40px;
    transition: all 0.3s;
}







